* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	-webkit-tap-highlight-color: transparent;
	font-family: "Raleway";
}

#root {
	height: 100%;
	overflow: hidden;
}

input, button, select, textarea, a {
	font: inherit;
	color: inherit;
}

a {
	text-decoration: none;
}

:focus {
	outline: none;
}

button {
	cursor: pointer;
}
